<form
  (submit)="$event.preventDefault(); onSubmit()"
  action=""
  class="flex flex-col overflow-y-auto flex-grow custom-scrollbar max-h-full"
>
  <app-text-input
    id="email"
    name="email"
    type="email"
    placeholder="Enter email"
    [required]="true"
    class="mt-4"
    [(value)]="formData.email"
    variant="secondary"
    >Email</app-text-input
  >

  <app-text-input
    id="old_password"
    name="old_password"
    type="password"
    placeholder="Enter current password"
    [required]="true"
    class="mt-4"
    [(value)]="formData.old_password"
    variant="secondary"
    (input)="clearPasswordErrorMessage()"
    >Current Password</app-text-input
  >

  <p
    *ngIf="formData.old_password && formData.old_password.length < 8"
    class="text-red-500 text-xs mt-1 pl-3"
  >
    Current password must be at least 8 characters.
  </p>

  <app-text-input
    id="new_password"
    name="new_password"
    type="password"
    placeholder="Enter new password"
    [required]="true"
    class="mt-4"
    [(value)]="formData.new_password"
    variant="secondary"
    (input)="clearPasswordErrorMessage()"
    >New Password</app-text-input
  >

  <p
    *ngIf="formData.new_password && formData.new_password.length < 8"
    class="text-red-500 text-xs mt-1 pl-3"
  >
    New password must be at least 8 characters.
  </p>
  <p *ngIf="errorMessage" class="text-red-500 text-xs mt-1 pl-3">
    {{ errorMessage }}
  </p>
  <div class="mx-2">
    <app-button class="w-full mt-5" [color]="'primary'" type="submit"
      >Change Password</app-button
    >
  </div>
</form>
