<div class="container flex flex-col items-center justify-center py-8 gap-4">
  <div
    class="flex justify-center bg-white overflow-y-auto custom-scrollbar"
    style="height: calc(100vh - 196px)"
  >
    <div
      class="bg-white w-[29.7cm] min-h-[21cm] border pt-[1.5cm] pl-[1.5cm] pr-[1.5cm]"
      id="contentToConvert"
    >
      <div class="mx-auto border-black border-2 w-full p-3">
        <img
          src="assets/images/gmf-doa-logo-2.png"
          alt="logodoa"
          class="h-[55px] mx-auto w-[350px]"
        />
      </div>
      <div class="font-myriad leading-none">
        <div
          class="min-w-full border-[1px] border-black border-t-0 text-[11pt]"
        >
          <div
            class="font-bold text-lg text-center border-black border-b-2 border-l-2 border-r-2 align-top h-10"
          >
            AUDIT PLAN - <span class="italic">...(1)</span>
          </div>
          <div
            class="grid grid-cols-[780px_200px] h-7 border-b-[1px] border-black"
          >
            <div class="flex justify-between px-40">
              <div class="flex gap-2">
                <div>Procedure Audit</div>
                <div
                  class="w-3 h-3 border border-black flex justify-center items-center mt-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="w-3 h-3"
                  >
                    <g
                      fill="currentColor"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    >
                      <path
                        d="M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06"
                      />
                      <path
                        d="M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0"
                      />
                    </g>
                  </svg>
                </div>
              </div>
              <div class="flex gap-2">
                <div>Product Audit</div>
                <div
                  class="w-3 h-3 border border-black flex justify-center items-center mt-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="w-3 h-3"
                  >
                    <g
                      fill="currentColor"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    >
                      <path
                        d="M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06"
                      />
                      <path
                        d="M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0"
                      />
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="border-black border-l-[1px] px-[6px]">
              Audit No. : <span>AP-XX-20XX (3)</span>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center">No.</div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            >
              Audit Requirement & References
            </div>
            <div class="border-l-[1px] border-black">
              <div class="text-center border-b-[1px] h-6 border-black">
                Auditee(s), Planned Week & Audit Implementation Date
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center"></div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            ></div>
            <div class="border-l-[1px] border-black">
              <div class="grid grid-cols-5 border-black border-b-[1px]">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center"></div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            ></div>
            <div class="border-l-[1px] border-black">
              <div class="grid grid-cols-5 border-black border-b-[1px]">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center"></div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            ></div>
            <div class="border-l-[1px] border-black">
              <div class="grid grid-cols-5 border-black border-b-[1px]">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center"></div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            ></div>
            <div class="border-l-[1px] border-black">
              <div class="grid grid-cols-5 border-black border-b-[1px]">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center"></div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            ></div>
            <div class="border-l-[1px] border-black">
              <div class="grid grid-cols-5 border-black border-b-[1px]">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-[40px_410px_557px] border-b-[1px] border-black"
          >
            <div class="text-center flex items-center justify-center"></div>
            <div
              class="text-center border-l-[1px] border-black flex items-center justify-center"
            ></div>
            <div class="border-l-[1px] border-black">
              <div class="grid grid-cols-5 border-black border-b-[1px]">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
              <div class="grid grid-cols-5">
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black border-r-[1px]"></div>
                <div class="h-6 border-black"></div>
              </div>
            </div>
          </div>
          <div class="px-[6px] h-6 flex justify-between">
            <div class="">Form No.: GMF/IM-001 R2</div>
            <div>Page <span>...</span> of <span>...</span></div>
          </div>
        </div>
        <div class="font-bold my-3">Issue Status</div>
        <div
          class="grid grid-cols-[50px_160px_270px_270px_270px] border-black border-[1px] h-12"
        >
          <div class="text-center border-r-[1px] border-black">Issue No.</div>
          <div class="text-center border-r-[1px] border-black">Date</div>
          <div class="text-center border-r-[1px] border-black">Description</div>
          <div class="text-center border-r-[1px] border-black">
            Issued by <br /><span>Chief of Independent Monitoring</span>
          </div>
          <div class="text-center border-black">Approved by Head of DOA</div>
        </div>
        <div
          class="grid grid-cols-[50px_160px_270px_270px_270px] border-black border-b-[1px] border-l-[1px] border-r-[1px] h-16"
        >
          <div class="text-center border-r-[1px] border-black"></div>
          <div class="text-center border-r-[1px] border-black"></div>
          <div class="text-center border-r-[1px] border-black"></div>
          <div class="text-center border-r-[1px] border-black"></div>
          <div class="text-center border-black"></div>
        </div>
        <p class="text-[15px] mt-5">Form No.: GMF/IM-001 R2</p>
      </div>
    </div>
  </div>
  <app-button (click)="convertToPDF()">Download</app-button>
</div>
