<div class="container">
  <div
    class="w-full flex items-center justify-center sm:px-6 sm:py-8 p-4"
    style="height: calc(100vh - 80px)"
  >
    <div class="bg-white rounded-lg p-8 w-full h-full flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h1 class="text-primary font-bold sm:text-2xl text-xl">
          NCR Verification Sheet (NVS)
        </h1>
        <p class="text-xs text-red-500 font-medium">
          * Indicates required question
        </p>
      </div>
      <form
        (submit)="$event.preventDefault(); onSubmit()"
        class="flex flex-col gap-6 overflow-y-auto flex-grow custom-scrollbar"
      >
      <!-- Verification No -->
      <label for="verification_no" class="text-sm font-semibold text-gray-800 ml-[7px] -mb-[10px]">
        NCR Verification No. <span class="text-red-500">*</span></label>
      <div class="flex items-center border-b border-black px-3 -ml-[5px]">
        <span class="text-sm text-gray-800 select-none">NVS/E-</span>
        <input
          id="verification_no"
          name="verification_no"
          type="text"
          placeholder="XXX"
          required
          class="text-sm ml-1 flex-1 focus:outline-none"
          [(ngModel)]="formData.verification_no"
          />
        </div>

        <!-- NCR No. -->
        <app-text-input
          id="ncr_no"
          name="ncr_no"
          type="text"
          placeholder="Enter NCR No"
          [required]="true"
          [(value)]="formData.NCR_nbr"
          class=""
          variant="primary"
          [disabled]="true"
        >
          NCR No.
        </app-text-input>

        <!-- Verification Results -->
        <app-text-area-input
          id="verification_result"
          name="verification_result"
          placeholder="Enter verification result"
          [required]="true"
          [(value)]="formData.verification_result"
        >
          Verification Results
        </app-text-area-input>

        <!-- Effectiveness -->
        <app-option-input
          id="is_effective"
          name="is_effective"
          placeholder="Select Effectiveness"
          [required]="true"
          [(value)]="formData.is_effective"
          [options]="[
            { value: 'Effective', label: 'Effective' },
            { value: 'Not Effective', label: 'Not Effective' }
          ]"
        >
          Effectiveness
        </app-option-input>

        <!-- New NCR / Reminder -->
        <app-text-input
          id="reminder_no"
          name="reminder_no"
          type="text"
          placeholder="Enter Reminder No"
          [required]="false"
          [(value)]="formData.reminder_no"
          variant="primary"
        >
          New NCR / Quality Assurance Reminder No. <span class="text-gray-500 italic ml-2">(Type "-" if there is no new ncr number) </span>
        </app-text-input>

        <!-- Verified By -->
        <app-option-input
          id="Verified By"
          name="Verified By"
          placeholder="Select an option"
          [required]="false"
          [(value)]="formData.verified_by"
          [options]="[
            { value: 'Edy Noerachman', label: 'Edy Noerachman' },
            { value: 'Dian Rachmawati', label: 'Dian Rachmawati' },
            { value: 'Imanuddin Yahya', label: 'Imanuddin Yahya' },
            { value: 'I G. A. Aditya Jaya', label: 'I G. A. Aditya Jaya' },
            { value: 'Fathiya Ikrimah', label: 'Fathiya Ikrimah' },
            { value: 'Muhammad Rizqi W.', label: 'Muhammad Rizqi W.' },
            { value: 'Mukhamad Aziz', label: 'Mukhamad Aziz' },
            { value: 'Anindya Devi R.', label: 'Anindya Devi R.' },
            { value: 'Gelang Gapuro A.', label: 'Gelang Gapuro A.' },
            { value: 'Fahad Arwani', label: 'Fahad Arwani' },
            { value: 'Maulana Mulia', label: 'Maulana Mulia' }
          ]"
          >Verified by</app-option-input
        >

        <!-- Verification Date -->
        <app-text-input
          id="verified_date"
          name="verified_date"
          type="date"
          placeholder="Select Date"
          [required]="true"
          [(value)]="formData.verified_date"
          variant="primary"
        >
          Date
        </app-text-input>

        <app-button class="w-full mt-1" [color]="'primary'" type="submit"
          >Submit</app-button
        >
      </form>
