.custom-scrollbar {
  padding-right: 1rem;
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #80868b;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 5px;
}

.disabled {
  pointer-events: none; /* Mencegah interaksi dengan dropdown */
  background-color: #f0f0f0; /* Mengubah warna latar belakang untuk menunjukkan disabled */
  color: #a0a0a0; /* Mengubah warna teks untuk menunjukkan disabled */
}
.readonly {
  pointer-events: none; /* Mencegah interaksi dengan dropdown */
  background-color: #f0f0f0; /* Memberikan tampilan disabled */
  color: #a0a0a0; /* Mengubah warna teks */
}
