<div class="flex flex-col">
  <label [for]="id" class="font-medium text-white text-sm">
    <ng-content></ng-content>
    <span *ngIf="required" class="text-red-500">*</span>
  </label>

  <input
    [type]="type"
    [name]="name"
    [id]="id"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [required]="required"
    [attr.maxlength]="maxlength"
    (input)="validateInput()"
    (blur)="onBlur()"
    [class.border-b-red-500]="isInvalid"
    [class.text-quaternary]="isInvalid"
    class="mt-1 px-3 py-2 rounded-lg outline-none text-sm placeholder:text-quaternary"
    [disabled]="disabled"
  />

  <div *ngIf="isInvalid" class="text-red-500 text-xs px-2">
    {{ errorMessage }}
  </div>
</div>
