<div class="container">
  <div
    class="w-full flex items-center justify-center sm:px-6 sm:py-8 p-4"
    style="height: calc(100vh - 80px)"
  >
    <div class="bg-white rounded-lg p-8 w-full h-full flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h1 class="text-primary font-bold sm:text-2xl text-xl">
          Internal Occurence Report (IOR) Form
        </h1>
        <p class="text-xs text-red-500 font-medium">
          * Indicates required question
        </p>
      </div>
      <form
        (submit)="$event.preventDefault(); onSubmit()"
        action=""
        class="flex flex-col gap-7 overflow-y-auto flex-grow custom-scrollbar"
      >
        <app-text-area-input
          id="subject"
          name="subject"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.subject_ior"
          class=""
          >Subject</app-text-area-input
        >

        <label for="occur_nbr" class="text-sm font-semibold text-gray-800 ml-[7px] -mb-[10px]">
          Occurrence Report No. <span class="text-red-500">*</span></label>
        <div class="flex items-center border-b border-black px-3 -ml-[5px]">
          <span class="text-sm text-gray-800 select-none">IOR/E-</span>
          <input
            id="occur_nbr"
            name="occur_nbr"
            type="text"
            placeholder="XXX"
            required
            class="text-sm ml-1 flex-1 focus:outline-none"
            [(ngModel)]="formData.occur_nbr"
          />
        </div>

        <app-text-input
          id="Occurrence Date"
          name="Occurrence Date"
          type="date"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.occur_date"
          class=""
          variant="primary"
          >Occurrence Date</app-text-input
        >
        <app-text-input
          id="Reference"
          name="Reference"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.reference_ior"
          variant="primary"
          >Reference</app-text-input
        >
        <app-option-input
          id="To UIC"
          name="To UIC"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.to_uic"
          [options]="[
            {
              value: 'TEJ-1',
              label: 'TEJ-1'
            },
            {
              value: 'TEJ-2',
              label: 'TEJ-2'
            },
            {
              value: 'TEJ-3',
              label: 'TEJ-3'
            },
            {
              value: 'TEJ',
              label: 'TEJ'
            },
            {
              value: 'Other',
              label: 'Other'
            }
          ]"
          >To UIC</app-option-input
        >
        <app-option-input
          id="CC UIC"
          name="CC UIC"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.cc_uic"
          [options]="[
            {
              value: 'TEJ-1',
              label: 'TEJ-1'
            },
            {
              value: 'TEJ-2',
              label: 'TEJ-2'
            },
            {
              value: 'TEJ-3',
              label: 'TEJ-3'
            },
            {
              value: 'TEJ',
              label: 'TEJ'
            },
            {
              value: 'Other',
              label: 'Other'
            }
          ]"
          >CC UIC</app-option-input
        >

        <app-option-input
          id="category"
          name="category"
          placeholder="Select an option"
          [required]="true"
          [options]="[
            { value: 'DOA Management', label: 'DOA Management' },
            { value: 'Procedure', label: 'Procedure' },
            { value: 'Document', label: 'Document' },
            { value: 'Personnel', label: 'Personnel' },
            { value: 'Facility', label: 'Facility' },
            {
              value: 'Partner or Subcontractor',
              label: 'Partner or Subcontractor'
            },
            { value: 'Material', label: 'Material' },
            {
              value: 'Information Technology',
              label: 'Information Technology'
            },
            { value: 'Training', label: 'Training' },
            { value: 'Others', label: 'Others' }
          ]"
          [(value)]="formData.category_occur"
          >Category</app-option-input
        >

        <app-text-input
          id="Type or P/N"
          name="Type or P/N"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          variant="primary"
          [(value)]="formData.type_or_pnbr"
          >Type or P/N</app-text-input
        >

        <app-checkbox
          label="Level Type"
          [checkboxes]="[
            { id: 'Aircraft', label: 'Aircraft', checked: false },
            { id: 'Engine', label: 'Engine', checked: false },
            { id: 'APU', label: 'APU', checked: false },
            { id: 'Others', label: 'Others', checked: false }
          ]"
          [required]="true"
          [(selectedValues)]="formData.level_type"
          >Level Type</app-checkbox
        >

        <app-text-area-input
          id="Detail of Hazard or Occurrence"
          name="Detail of Hazard or Occurrence"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.detail_occurance"
          class=""
          >Detail of Hazard or Occurrence</app-text-area-input
        >
        
        <app-option-input
          id="Reported by"
          name="Reported by"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.Reportedby"
          [options]="[
            { value: 'Edy Noerachman', label: 'Edy Noerachman' },
            { value: 'Dian Rachmawati', label: 'Dian Rachmawati' },
            { value: 'Imanuddin Yahya', label: 'Imanuddin Yahya' },
            { value: 'I G. A. Aditya Jaya', label: 'I G. A. Aditya Jaya' },
            { value: 'Fathiya Ikrimah', label: 'Fathiya Ikrimah' },
            { value: 'Muhammad Rizqi W.', label: 'Muhammad Rizqi W.' },
            { value: 'Mukhamad Aziz', label: 'Mukhamad Aziz' },
            { value: 'Anindya Devi R.', label: 'Anindya Devi R.' },
            { value: 'Gelang Gapuro A.', label: 'Gelang Gapuro A.' },
            { value: 'Fahad Arwani', label: 'Fahad Arwani' },
            { value: 'Maulana Mulia', label: 'Maulana Mulia' }
          ]"
          >Reported by</app-option-input
        >
        <app-option-input
          id="Reported UIC"
          name="Reported UIC"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.reporter_uic"
          [options]="[
            {
              value: 'TEJ-1',
              label: 'TEJ-1'
            },
            {
              value: 'TEJ-2',
              label: 'TEJ-2'
            },
            {
              value: 'TEJ-3',
              label: 'TEJ-3'
            },
            {
              value: 'TEJ',
              label: 'TEJ'
            },
            {
              value: 'Other',
              label: 'Other'
            }
          ]"
          >Reported UIC</app-option-input
        >
        <app-text-input
          id="Report Date"
          name="Report Date"
          type="date"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.report_date"
          variant="primary"
          >Report Date</app-text-input
        >

        <app-checkbox
          label="Reporter Identity"
          [checkboxes]="[
            { id: 'Shown', label: 'Shown', checked: false },
            { id: 'Hidden', label: 'Hidden', checked: false }
          ]"
          [(selectedValues)]="formData.reporter_identity"
          [required]="false"
          >Reporter Identity</app-checkbox
        >
        <app-checkbox
          label="Data Reference"
          [checkboxes]="[
            { id: 'Yes', label: 'Yes', checked: false },
            { id: 'No', label: 'No', checked: false }
          ]"
          [(selectedValues)]="formData.data_reference"
          [required]="false"
          >Data Reference</app-checkbox
        >
        <app-checkbox
          label="Hirac Process"
          [checkboxes]="[
            { id: 'Yes', label: 'Yes', checked: false },
            { id: 'No', label: 'No', checked: false }
          ]"
          [(selectedValues)]="formData.hirac_process"
          [required]="false"
          >Hirac Process</app-checkbox
        >
        <app-option-input
          id="Initial Probability"
          name="Initial Probability"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.Initial_probability"
          (valueChange)="updateRiskIndex()"
          [options]="[
            {
              value: '5',
              label: '5 (Frequent)'
            },
            {
              value: '4',
              label: '4 (Occasional)'
            },
            {
              value: '3',
              label: '3 (Remote)'
            },
            {
              value: '2',
              label: '2 (Improbable)'
            },
            {
              value: '1',
              label: '1 (Extermely Improbable)'
            }
          ]"
          >Initial Probability</app-option-input
        >
        <app-option-input
          id="Initial Severity"
          name="Initial Severity"
          placeholder="Select an option"
          [required]="false"
          [(value)]="formData.initial_severity"
          (valueChange)="updateRiskIndex()"
          [options]="[
            {
              value: 'A',
              label: 'A (Catastrophic)'
            },
            {
              value: 'B',
              label: 'B (Hazardous)'
            },
            {
              value: 'C',
              label: 'C (Major)'
            },
            {
              value: 'D',
              label: 'D (Minor)'
            },
            {
              value: 'E',
              label: 'E (Negligible)'
            }
          ]"
          >Initial Severity</app-option-input
        >
        
        <app-text-input
          id="Initial Risk Index"
          name="Initial Risk Index"
          type="text"
          [disabled]="true"
          placeholder="Auto generated"
          [required]="false"
          [(value)]="formData.initial_riskindex"
          variant="primary"
        >
          Initial Risk Index
        </app-text-input>

        <app-button class="w-full mt-1" [color]="'primary'" type="submit"
          >Submit</app-button
        >
      </form>
    </div>
  </div>
</div>
