<div class="w-full" style="height: calc(100vh - 80px)">
  <div class="absolute bottom-0 bg-secondary/50 p-6 w-5/6">
    <h1 class="text-white sm:text-3xl text-2xl font-bold">
      Welcome to GMF Design Organization Approval
    </h1>
    <p class="text-white mt-3 text-sm">
      We are certified by the Indonesian DGCA under CASR 21 Subpart J and by
      EASA under Part 21 Subpart J, providing expert design and approval
      solutions for STC, major and minor changes, and repairs in areas such as
      cabin safety, avionics, structures, and environmental systems.
    </p>
  </div>
</div>
