<div class="not-found flex flex-col justify-center items-center h-full">
  <div
    class="rounded-lg bg-white/30 p-10 flex flex-col justify-center items-center"
  >
    <div class="sm:flex items-center justify-center gap-4 hidden">
      <img src="assets/images/coming-soon.svg" alt="logodoa" class="h-36" />
      <div class="flex flex-col gap-2">
        <h1 class="text-primary text-6xl font-bold">Coming Soon!</h1>

        <p class="font-bold text-3xl text-primary">
          This page is under construction.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-1 sm:hidden">
      <img src="assets/images/coming-soon.svg" alt="logodoa" class="h-28" />

      <h1 class="text-primary text-3xl text-center font-bold">Coming Soon!</h1>

      <p class="font-bold text-primary text-center">
        This page is under construction.
      </p>
    </div>
    <a href="/"
      ><app-button class="mt-6" [color]="'primary'">Go Back Home</app-button></a
    >
  </div>
</div>
