<div class="w-full h-72">
  <form
    *ngIf="data"
    action=""
    class="flex flex-col gap-4 overflow-y-auto flex-grow custom-scrollbar max-h-full"
  >
    <app-text-input
      id="id_number"
      name="id_number"
      type="text"
      placeholder=""
      [required]="false"
      class=""
      [(value)]="data.id_number"
      variant="secondary"
      [disabled]="true"
      >ID Number</app-text-input
    >
    <app-text-input
      id="name"
      name="name"
      type="text"
      placeholder=""
      [required]="false"
      class=""
      [(value)]="data.name"
      variant="secondary"
      [disabled]="true"
      >Name</app-text-input
    >
    <app-text-input
      id="unit"
      name="unit"
      type="text"
      placeholder=""
      [required]="false"
      class=""
      [(value)]="data.unit"
      variant="secondary"
      [disabled]="true"
      >Unit</app-text-input
    >
    <app-text-input
      id="role"
      name="role"
      type="text"
      placeholder=""
      [required]="false"
      class=""
      [(value)]="data.role"
      variant="secondary"
      [disabled]="true"
      >Role</app-text-input
    >
    <app-text-input
      id="email"
      name="email"
      type="text"
      placeholder=""
      [required]="false"
      class=""
      [(value)]="data.email"
      variant="secondary"
      [disabled]="true"
      >Email</app-text-input
    >
    <app-text-input
      id="username"
      name="username"
      type="text"
      placeholder=""
      [required]="false"
      class=""
      [(value)]="data.username"
      variant="secondary"
      [disabled]="true"
      >Username</app-text-input
    >
  </form>
</div>
