<div class="container">
  <div
    class="w-full flex items-center justify-center sm:px-6 sm:py-8 p-4"
    style="height: calc(100vh - 80px)"
  >
    <div class="bg-white rounded-lg p-8 w-full h-full flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h1 class="text-primary font-bold sm:text-2xl text-xl">
          Internal Occurence Report (IOR) Follow On
        </h1>
        <p class="text-xs text-red-500 font-medium">
          * Indicates required question
        </p>
      </div>
      <form
        (submit)="$event.preventDefault(); onSubmit()"
        action=""
        class="flex flex-col gap-7 overflow-y-auto flex-grow custom-scrollbar"
      >
        <app-text-area-input
          id="subject"
          name="subject"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.subject_ior"
          class=""
          [disabled]="true"
          >Subject</app-text-area-input
        >

        <app-text-input
          id="Occurrence Report No."
          name="Occurrence Report No."
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.occur_nbr"
          variant="primary"
          [disabled]="true"
          >Occurrence Report No.</app-text-input
        >
        <app-text-input
          id="Occurrence Date"
          name="Occurrence Date"
          type="date"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.occur_date"
          class=""
          variant="primary"
          [disabled]="true"
          >Occurrence Date</app-text-input
        >
        <app-text-input
          id="Reference"
          name="Reference"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.reference_ior"
          variant="primary"
          [disabled]="true"
          >Reference</app-text-input
        >
        <app-text-input
          id="To UIC"
          name="To UIC"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.to_uic"
          variant="primary"
          [disabled]="true"
          >To UIC</app-text-input
        >
        <app-text-input
          id="CC UIC"
          name="CC UIC"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.cc_uic"
          variant="primary"
          [disabled]="true"
          >CC UIC</app-text-input
        >

        <app-text-input
          id="category"
          name="category"
          type="text"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.category_occur"
          class=""
          variant="primary"
          [disabled]="true"
          >Category</app-text-input
        >

        <app-text-input
          id="Type or P/N"
          name="Type or P/N"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          variant="primary"
          [(value)]="formData.type_or_pnbr"
          [disabled]="true"
          >Type or P/N</app-text-input
        >

        <app-checkbox
          label="Level Type"
          [checkboxes]="[
            {
              id: 'Aircraft',
              label: 'Aircraft',
              checked: false,
              disabled: true
            },
            { id: 'Engine', label: 'Engine', checked: false, disabled: true },
            { id: 'APU', label: 'APU', checked: false, disabled: true },
            { id: 'Others', label: 'Others', checked: false, disabled: true }
          ]"
          [required]="true"
          [(selectedValues)]="formData.level_type"
          >Level Type</app-checkbox
        >

        <app-text-area-input
          id="Detail of Hazard or Occurrence"
          name="Detail of Hazard or Occurrence"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.detail_occurance"
          class=""
          [disabled]="true"
          >Detail of Hazard or Occurrence</app-text-area-input
        >
        <app-text-input
          id="Reported by"
          name="Reported by"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.Reportedby"
          variant="primary"
          [disabled]="true"
          >Reported by</app-text-input
        >
        <app-text-input
          id="Reported UIC"
          name="Reported UIC"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.reporter_uic"
          variant="primary"
          [disabled]="true"
          >Reported UIC</app-text-input
        >
        <app-text-input
          id="Report Date"
          name="Report Date"
          type="date"
          placeholder="Enter your data"
          [required]="true"
          class=""
          [(value)]="formData.report_date"
          variant="primary"
          [disabled]="true"
          >Report Date</app-text-input
        >

        <app-checkbox
          label="Reporter Identity"
          [checkboxes]="[
            { id: 'Shown', label: 'Shown', checked: false, disabled: true },
            { id: 'Hidden', label: 'Hidden', checked: false, disabled: true }
          ]"
          [(selectedValues)]="formData.reporter_identity"
          [required]="false"
          >Reporter Identity</app-checkbox
        >
        <app-checkbox
          label="Data Reference"
          [checkboxes]="[
            { id: 'Yes', label: 'Yes', checked: false, disabled: true },
            { id: 'No', label: 'No', checked: false, disabled: true }
          ]"
          [(selectedValues)]="formData.data_reference"
          [required]="false"
          >Data Reference</app-checkbox
        >
        <app-checkbox
          label="Hirac Process"
          [checkboxes]="[
            { id: 'Yes', label: 'Yes', checked: false, disabled: true },
            { id: 'No', label: 'No', checked: false, disabled: true }
          ]"
          [(selectedValues)]="formData.hirac_process"
          [required]="false"
          >Hirac Process</app-checkbox
        >

        <app-text-input
          id="Initial Probability"
          name="Initial Probability"
          type="text"
          placeholder="Select an option"
          [required]="false"
          [(value)]="formData.Initial_probability"
          class=""
          variant="primary"
          [disabled]="true"
          >Initial Probability</app-text-input
        >

        <app-text-input
          id="Initial Severity"
          name="Initial Severity"
          type="text"
          placeholder="Select an option"
          [required]="false"
          [(value)]="formData.initial_severity"
          class=""
          variant="primary"
          [disabled]="true"
          >Initial Severity</app-text-input
        >

        <app-text-input
          id="Initial Risk Index"
          name="Initial Risk Index"
          type="text"
          placeholder="Select an option"
          [required]="false"
          [(value)]="formData.initial_riskindex"
          class=""
          variant="primary"
          [disabled]="true"
          >Initial Risk Index</app-text-input
        >

        <app-text-area-input
          id="Follow Up Detail"
          name="Follow Up Detail"
          type="text"
          placeholder="Enter your data"
          [required]="true"
          [(value)]="formData.follup_detail"
          class=""
          >Follow Up Detail</app-text-area-input
        >
        <app-option-input
          id="Follow Up by"
          name="Follow Up by"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.follupby"
          [options]="[
            { value: 'Edy Noerachman', label: 'Edy Noerachman' },
            { value: 'Dian Rachmawati', label: 'Dian Rachmawati' },
            { value: 'Imanuddin Yahya', label: 'Imanuddin Yahya' },
            { value: 'I G. A. Aditya Jaya', label: 'I G. A. Aditya Jaya' },
            { value: 'Fathiya Ikrimah', label: 'Fathiya Ikrimah' },
            { value: 'Muhammad Rizqi W.', label: 'Muhammad Rizqi W.' },
            { value: 'Mukhamad Aziz', label: 'Mukhamad Aziz' },
            { value: 'Anindya Devi R.', label: 'Anindya Devi R.' },
            { value: 'Gelang Gapuro A.', label: 'Gelang Gapuro A.' },
            { value: 'Fahad Arwani', label: 'Fahad Arwani' },
            { value: 'Maulana Mulia', label: 'Maulana Mulia' }
          ]"
          >Follow Up by</app-option-input
        >
        <app-option-input
          id="Follow Up UIC"
          name="Follow Up UIC"
          placeholder="Select an option"
          [required]="true"
          [(value)]="formData.follup_uic"
          [options]="[
            {
              value: 'TEJ-1',
              label: 'TEJ-1'
            },
            {
              value: 'TEJ-2',
              label: 'TEJ-2'
            },
            {
              value: 'TEJ-3',
              label: 'TEJ-3'
            },
            {
              value: 'TEJ',
              label: 'TEJ'
            },
            {
              value: 'Other',
              label: 'Other'
            }
          ]"
          >Follow Up UIC</app-option-input
        >
        <app-text-input
          id="Follow Up Date"
          name="Follow Up Date"
          type="date"
          placeholder="Enter your data"
          [required]="false"
          class=""
          [(value)]="formData.follup_date"
          variant="primary"
          >Follow Up Date</app-text-input
        >

        <app-checkbox
          label="Follow Up Data Reference"
          [checkboxes]="[
            { id: 'Yes', label: 'Yes', checked: false },
            { id: 'No', label: 'No', checked: false }
          ]"
          [(selectedValues)]="formData.follup_datarefer"
          [required]="false"
          >Follow Up Data Reference</app-checkbox
        >

        <app-checkbox
          label="Follow Up Status"
          [checkboxes]="[
            { id: 'Open', label: 'Open', checked: false },
            { id: 'Close', label: 'Close', checked: false }
          ]"
          [(selectedValues)]="formData.follup_status"
          [required]="false"
          >Follow Up Status</app-checkbox
        >

        <app-text-input
          id="Next UIC Follow Up"
          name="Next UIC Follow Up"
          type="text"
          placeholder="Enter your data"
          [required]="false"
          [(value)]="formData.nextuic_follup"
          class=""
          variant="primary"
          >Next UIC Follow Up</app-text-input
        >
        <app-text-input
          id="Current Probability"
          name="Current Probability"
          type="text"
          placeholder="Enter your data"
          [required]="false"
          [(value)]="formData.current_probability"
          class=""
          variant="primary"
          >Current Probability</app-text-input
        >
        <app-text-input
          id="Current Severity"
          name="Current Severity"
          type="text"
          placeholder="Enter your data"
          [required]="false"
          class=""
          [(value)]="formData.current_severity"
          variant="primary"
          >Current Severity</app-text-input
        >
        <app-text-input
          id="Current Risk Index"
          name="Current Risk Index"
          type="text"
          placeholder="Enter your data"
          [required]="false"
          [(value)]="formData.current_riskindex"
          class=""
          variant="primary"
          >Current Risk Index</app-text-input
        >

        <app-button class="w-full mt-1" [color]="'primary'" type="submit"
          >Submit</app-button
        >
      </form>
    </div>
  </div>
</div>
